<?php
use BjyAuthorize\Provider;
use BjyAuthorize\Guard;

$guardConfig = [
	['route' => 'zfcuser',                  'roles' => ['guest', 'user'] ],
	['route' => 'zfcuser/login',            'roles' => ['guest', 'user'] ],
	['route' => 'zfcuser/register',         'roles' => ['guest'] ],
	['route' => 'zfcuser/register/registered','roles' => ['guest'] ],
	['route' => 'zfcuser/authenticate',     'roles' => ['guest'] ],
	['route' => 'zfcuser/logout',           'roles' => ['guest', 'user'] ],
	['route' => 'zfcuser/changepassword',   'roles' => ['user'] ],
	['route' => 'zfcuser/changeemail',      'roles' => ['user'] ],
	
	['route' => 'home',                     'roles' => ['guest', 'user'] ],

	// modules
	['route' => 'doctrine_orm_module_yuml', 'roles' => ['administrator'] ],
];

$ressources = [
	'user', // navigation ZfcUser
];

$ressourceAllowRules = [
	[['user'],  'user', 'profile'],
	[['user'],  'user', 'logout'],
	[['user'],  'user', 'changepassword'],
	[['guest'], 'user', 'login'],
	[['guest'], 'user', 'register'],
];

return [
	'bjyauthorize' => [
		// resource providers provide a list of resources that will be tracked
        // in the ACL. like roles, they can be hierarchical
        'resource_providers' => [ Provider\Resource\Config::class => $ressources ],
		
		'rule_providers' => [
			Provider\Rule\Config::class => [
                'allow' => $ressourceAllowRules,

                // Don't mix allow/deny rules if you are using role inheritance.
                // There are some weird bugs.
                'deny' => [],
            ]
		],
		
        'guards' => [ Guard\Route::class => $guardConfig ],
	],
	
	// Site navigation
	'navigation' => array(
		// default navigation
		'default' => array(
			'home'            => array('label' => gettext_noop('Home'),            'route' => 'home'),
			'login'           => array('label' => gettext_noop('Login'),           'route' => 'zfcuser/login',          'resource' => 'user',           'privilege' => 'login'),
			'register'        => array('label' => gettext_noop('Register'),        'route' => 'zfcuser/register',       'resource' => 'user',           'privilege' => 'register'),
			'profile'         => array('label' => gettext_noop('Profile'),         'route' => 'zfcuser',                'resource' => 'user',           'privilege' => 'profile'),
			'change-password' => array('label' => gettext_noop('Change Password'), 'route' => 'zfcuser/changepassword', 'resource' => 'user',           'privilege' => 'changepassword'),
			'logout'          => array('label' => gettext_noop('Logout'),          'route' => 'zfcuser/logout',         'resource' => 'user',           'privilege' => 'logout'),
		),
	),
];